/*---------- 
GLOBAL
----------*/

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


html{ -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

body {
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    background-color: #FDFFF0;
}

.title {
    font-weight: 600;
    font-size: 2.5rem;
    padding: 5px;
    background-image: linear-gradient(to right,#FDFFF0,rgba(104, 90, 70, .4),rgba(104, 90, 70, .4),#FDFFF0);
}

p {
    font-size: 1.4rem;
    margin: 2rem 6%;
    text-align: justify;
}

.limited {
    max-width: 1280px;
    margin:auto;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.background-image {
    position: relative;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: cover;
}

.background-image::after {
    background-color: #ffffff;
    opacity: 0.50;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
}

@media only screen and (min-width: 700px){
    .title {
        font-size: 3rem;
        background-image: linear-gradient(to right,#FDFFF0,#FDFFF0,rgba(104, 90, 70, .4),rgba(104, 90, 70, .4),#FDFFF0,#FDFFF0);
    }
}

@media only screen and (min-width: 1280px){

}

/*---------- 
HEADER 
----------*/

.page-title-small {padding: 1rem 0 2.5rem 0;}

.page-title-small h1 {
    font-weight: 800;
    font-size: 15vw;
}

.page-title-small h2 {
    font-weight: 600;
    font-size: 7vw;
}

@media only screen and (min-width: 1280px){

.page-title-lrg {float: left;}

.page-title-lrg h1 {font-size:5rem;}

.page-title-lrg h2 {font-size:2.5rem;}

.title-shift {
    float: right;
    padding-right: 4.5rem;
}

header .background-image {background-position-y: -200px;}

}


/*---------- 
NAV 
----------*/

.buttonbox {background-color: rgba(104, 90, 70, .7);}

button {margin: .5rem 0;}

button#hamburgerBtn {
    background-color: transparent;
    border: none;
    color: black;
    font-size: 2.5rem;
    cursor: pointer;
    padding: .20rem 0 0 0 ;
}

.nav-sml ul{
    display: none;
    background-color: rgba(104, 90, 70, .4);
}

.nav-sml ul.open{display: block;}

.nav-sml li {
    list-style-type: none;
    font-size: 2rem;
    font-weight: 600;
    padding: .5rem 0 .5rem 0 ;
}

.nav-sml li:nth-child(odd){
    background-color: rgba(104, 90, 70, .2);
}

.nav-sml li:hover {background-color: rgba(0, 0, 0, .25);}

.nav-sml a {
    text-decoration: none;
    color: black;    
    cursor:pointer;
    width: 100%;
}



@media only screen and (min-width: 700px){

button{display:none;}

.nav-med ul {
    display: flex;
    flex: auto;
    padding: .25rem 0;
    background-color: rgba(104, 90, 70, .7);
}

.nav-med li {width: 33.33%;}

.nav-sml li:nth-child(odd){background-color: transparent;}

.nav-sml li:hover {background-color: transparent;}

}

@media only screen and (min-width: 1280px){

.nav-lrg ul {
    justify-content: right;
    padding: 0 4% 0 0;
}

.nav-lrg li {
    width:auto;
    padding: 2px 1.7rem 2px 1.7rem;
}

.nav-sml li:hover {background-color: rgba(255, 255, 255, .25);}

}


/*---------- 
PORTFOLIO
----------*/



@media only screen and (min-width: 700px){

}

@media only screen and (min-width: 1280px){

}

/*---------- 
ABOUT-ME
----------*/

.aboutme-photo {
    height: auto;
    float: left;
    /* border: 5px solid rgba(104, 90, 70, 1); */
    filter: drop-shadow(10px 10px 5px rgba(104, 90, 70, 1));
    padding: 1rem 1.5rem 1rem 1.5rem;
}

.sml-photo {width: 100%;} 


@media only screen and (min-width: 700px){

    .photo-group {
        margin: 1rem 5%;
    }

    .med-photo {width: 50%;}

    .aboutme-photo:nth-child(odd){
        padding: 1rem 1rem 1rem 0;
    }

    .aboutme-photo:nth-child(even){
        padding: 1rem 0 1rem 1rem;
    }

}

@media only screen and (min-width: 1280px){

    .photo-group {
        margin: 2rem 3%;
    }

    .med-photo {width: 33.333%;}
    
    .aboutme-photo:nth-child(1) {
        width: 100%;
        padding: 1rem 0;
    }

    .aboutme-photo:nth-child(2) {
        padding: 1rem 1rem 1rem 0;
    }

    .aboutme-photo:nth-child(3) {
        padding: 1rem .5rem 1rem .5rem ;
    }

    .aboutme-photo:nth-child(4) {
        padding: 1rem 0 1rem 1rem;
    }
}

/*---------- 
CONTACT-ME
----------*/



@media only screen and (min-width: 700px){

}

@media only screen and (min-width: 1280px){

}


/*---------- 
FOOTER
----------*/

footer{
    display: block;
    background-color: rgba(104, 90, 70, .7);
}

.links {background-color: rgba(104, 90, 70, .7);}

.links li {padding: .25rem;}

.links li:first-child {padding-top: 1rem;}

.links li:last-child {padding-bottom: 1rem;}

.links li a {
    color: #FDFFF0;
    font-size: 2rem;
    text-transform: uppercase;
    text-decoration: none;
}

.social {margin: 0 0 2rem 0;}

.social ul {padding: 30px 10px 0 10px;}

.social li {
    list-style-type: none;
    display: inline;
    padding: 5px;
}

.social a {
    color: #FDFFF0;
    font-size: 2.5rem;
}

.social li:first-child {padding-left: 4px;}

.social li:last-child {padding-right: 4px;}

@media only screen and (min-width: 700px){
    
    .links {padding: 1rem 0;}
    
    .links ul {
        display: flex;
        align-items: center; 
        justify-content: space-around;

    }

    .links li:first-child {padding-top: 4px;}
    
    .links li:last-child {padding-bottom: 4px;}
    
}

@media only screen and (min-width: 1280px){

    .links ul {
        justify-content: center;
    }
    
    .links li a {
        font-size: 1.5rem;
        display: inline;
        padding: 0 1rem;
    }

}