/*---------- 
GLOBAL
----------*/

body {
    font-family: 'Source Sans Pro', sans-serif;
}

/*---------- 
HEADER 
----------*/

header {
 border: 2px solid black;
}

header h1 {
    font-weight: 700;
    font-size:
}


/*---------- 
NAV 
----------*/

nav ul {
    margin: 0; 
    padding: 0;
}

nav li {
    list-style-type: none;
    display: inline;
}

/*---------- 
PORTFOLIO
----------*/



/*---------- 
ABOUT-ME
----------*/



/*---------- 
CONTACT-ME
----------*/



/*---------- 
FOOTER
----------*/

footer{
    color: black;
}

footer ul {
    margin: 0;
    padding: 0;
}

footer li {
    list-style-type: none;
}

footer li a {
    color: black;
}