@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;1,600&display=swap')

body
    background-color: rgb(6, 175, 0)

header>h1
    color: white
    font-family: Source Sans Pro 
    font-weight: 600